{% extends "layout.html.twig" %}
{% block title %} {{ 'Transfert de fonds'|trans }} - Hajjalbayt {% endblock %}
{% block finance %} class="nav-item dropright active" {% endblock %}
{% block body %}

    <div class="col-md-8 offset-md-2 mt-5 fond-7 pb-2">
        <h3 class="mt-4 text-bold">
            <i class="fa fa-money-bill fa-lg"></i>
            <i class="fa fa-angle-double-right"></i>
            <i class="fa fa-university fa-lg"></i>
            {{ 'Transfert de fonds'|trans }}
        </h3>
        {% for message in app.session.flashbag.get('notice') %}
            <div class="alert alert-success alert-dismissible fade show radius-10 shadow-black mt-5 mb-n3">
                <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                {{ message|trans }}
            </div>
        {% endfor %}
        {% if app.user.agence.licence == 1 %}
            <a href="{{ path('Mecque_finance_transfert') }}" class="btn btn-shadow btn-green mt-5 mb-5">
                <i class="fa fa-plus-circle"></i>
                {{ 'Nouveau transfert'|trans }}
            </a>
        {% else %}
            <button data-toggle="modal" data-target="#licence" class="btn btn-shadow btn-green mt-5 mb-5">
                <i class="fa fa-plus-circle"></i>
                {{ 'Nouveau transfert'|trans }}
            </button>
            {{ include('licence/licence-popup.html.twig') }}
        {% endif %}
        <table class="table table-success-light table-bordered table-hover table-striped" id="list">
            <thead>
            <tr class="text-center">
                <th>{{ 'Date'|trans }}</th>
                <th class="text-left">{{ 'Motif'|trans }}</th>
                <th class="text-left">{{ 'Bénéficiaire'|trans }}</th>
                <th>{{ 'Montant'|trans }}</th>
                <th>{{ 'Modifier'|trans }}</th>
                <th>{{ 'Supprimer'|trans }}</th>
            </tr>
            </thead>
            <tbody>
            {% if result is not empty %}
                {% for depense in result %}
                    <tr>
                        <td data-label="{{ 'Date'|trans }}" class="text-center">
                            {{ depense.date|date('d/m/Y') }}
                            <br>
                            {{ depense.date|date('H:i:s') }}
                        </td>
                        <td data-label="{{ 'Motif'|trans }}">
                            {{ depense.motif }}
                        </td>
                        <td data-label="{{ 'Bénéficiaire'|trans }}">
                            {{ depense.beneficiaire }}
                        </td>
                        <td data-label="{{ 'Montant'|trans }}" class="montant">
                            {{ depense.montant|number_format(0, '',' ') }} F CFA
                        </td>
                        <td data-label="{{ 'Modifier'|trans }}">
                            <a href="{{ path('Mecque_finance_transfert_edit', { id : depense.id }) }}"
                               title="{{ 'Modifier'|trans }}">
                                <button class="btn btn-shadow btn-td btn-primary">
                                    <i class="fa fa-edit fa-lg"></i>
                                </button>
                            </a>
                        </td>
                        <td data-label="{{ 'Supprimer'|trans }}">
                            <button class="btn btn-shadow btn-td btn-danger" id="btn{{ depense.id }}"
                                    onclick="deletetransfert({{ depense.id }})" title="{{ 'Supprimer'|trans }}">
                                <i class="fa fa-trash-alt fa-lg"></i>
                            </button>
                        </td>
                    </tr>
                {% endfor %}
            {% else %}
                <tr>
                    <td data-label="colspan" colspan="6">
                        {{ 'Aucun transfert de fonds'|trans }}
                    </td>
                </tr>
            {% endif %}
            </tbody>
        </table>
    </div>
    {% if app.user.agence.licence == 1 %}
        {% if result is not empty %}
            <div class="col-md-8 offset-md-2 mt-4 mb-5 fond-7 pt-3 pb-2">
                <div class="centrer">
                    <span id="exportexcel"></span>
                </div>
            </div>
        {% endif %}
    {% else %}
        <div class="col-md-8 offset-md-2 mt-4 mb-5 fond-7 pt-3 pb-2">
            <div class="centrer">
                <button data-toggle="modal" data-target="#licence1" class="btn btn-shadow btn-bas btn-green">
                    <i class="fa fa-file-excel fa-lg"></i>
                    {{ 'Exporter vers Excel'|trans }}
                </button>
                {{ include('licence/licence-popup1.html.twig') }}
            </div>
        </div>
    {% endif %}

    {% block script %}
        <script>
            // suppression transfert de fond
            function deletetransfert(id) {
                if (confirm("{{'Voulez-vous vraiment annuler le transfert?'|trans}}")) {
                    $('#btn' + id).html("<div class='ajax-loader'></div>");
                    $.ajax({
                        type: "POST",
                        url: "{{path('Mecque_finance_transfert_delete')}}",
                        data: "transfert=" + id,
                        success: function(data) {
                            if (data['id'] != '') {
                                document.location.href = "{{ path('Mecque_finance_transfert_list') }}";
                            }
                        },
                        error: function() {
                            alert("{{'La requête n a pas abouti'|trans }}");
                        }
                    });
                }

            }
        </script>
    {% endblock %}

{% endblock %}
