{% extends "layout.html.twig" %}
{% block title %} {{ 'Antécédents chirurgicaux'|trans }} - Hajjalbayt {% endblock %}
{% block pelerin %} class="nav-item dropright active" {% endblock %}
{% block body %}

<div class="container-fluid mt-5 pt-3 pb-2 fond-7">
    <div class="centrer">
        <div class="row">
            <a href="{{ path('Mecque_Medical_Menlist') }}" class="btn btn-shadow btn-normal btn-primary mb-2 mr-2">
                <i class="fa fa-male fa-lg"></i>
                {{ 'Hommes'|trans }}
            </a>
            <a href="{{ path('Mecque_Medical_Womenlist') }}" class="btn btn-shadow btn-normal btn-pink mb-2 mr-2">
                <i class="fa fa-female fa-lg"></i>
                {{ 'Femmes'|trans }}
            </a>
            <a href="{{ path('Mecque_Medical_Women45list') }}" class="btn btn-shadow btn-normal btn-pink-light mb-2 mr-2">
                <i class="fa fa-female fa-lg"></i>
                {{ 'Femmes -45ans'|trans }}
            </a>
            <a href="{{ path('Mecque_Medical_Oldlist')}}" class="btn btn-shadow btn-normal btn-fluo mb-2">
                <img src="{{ asset('images/old-person.png') }}" alt="Old" height="21">
                {{ '3ième âge'|trans }}
            </a>
        </div>
    </div>
</div>
<div class="container-fluid mt-4 mb-5 fond-7">
    <h3 class="mt-4 mb-5 text-bold">
        <i class="fa fa-cut mr-2"></i>
        {{ 'Pèlerins ayant des antécédents chirurgicaux'|trans }}
    </h3>
    <table class="table table-success-light table-bordered table-hover table-striped" id="list">
        <thead>
            <tr>
                <th class="text-center">{{ 'Numéro'|trans }}</th>
                <th class="text-center">{{ 'Photo'|trans }}</th>
                <th>{{ 'Prénom'|trans }}</th>
                <th>{{ 'Nom'|trans }}</th>
                <th class="text-center">{{ 'Age'|trans }}</th>
                <th>{{ 'Abdominale'|trans }}</th>
                <th>{{ 'Pelvienne'|trans }}</th>
                <th>{{ 'Orthopedique'|trans }}</th>
                <th>{{ 'Cesarienne'|trans }}</th>
                <th>{{ 'Autres'|trans }}</th>
            </tr>
        </thead>
        <tbody>
            {% if pelerins is not empty %}
            {% for pelerin in pelerins %}
            {% set medical = pelerin.medical %}
            {% if medical.chabdo is not null or medical.chpulmo is not null or medical.chortho is not null or medical.cesarienne is not null or medical.autres is not null  %}
            {% if pelerin.sexe == 'Masculin' %}
            <tr class="bg-man">
                {% else %}
            <tr class="bg-woman">
                {% endif %}
                <td data-label="{{ 'Numéro dossier'|trans }}" class="text-center">
                    {{ pelerin.numdossier}}
                </td>
                <td data-label="{{ 'Photo'|trans }}" class="text-center">
                    {% if pelerin.image is not empty %}
                    <a href="{{ path('Mecque_Medical_Pelerin', { pelerin : pelerin.id})}}">
                        <img src="{{ asset('images/'~ pelerin.image.url)}}" alt="{{ pelerin.image.alt}}" class="rounded-circle">
                    </a>
                    {% else %}
                    <a href="{{ path('Mecque_Medical_Pelerin', { pelerin : pelerin.id})}}">
                        {% if pelerin.sexe == 'Feminin' %}
                        <img src="{{ asset('images/avatar-femme.jpg')}}" alt="Photo pèlerin" class="rounded-circle">
                        {% else %}
                        <img src="{{ asset('images/avatar.jpg')}}" alt="Photo pèlerin" class="rounded-circle">
                        {% endif %}
                    </a>
                    {% endif %}
                </td>
                <td data-label="{{ 'Prénom'|trans }}">
                    <a href="{{ path('Mecque_Medical_Pelerin', { pelerin : pelerin.id})}}">
                        {{ pelerin.prenom}}
                    </a>
                </td>
                <td data-label="{{ 'Nom'|trans }}">
                    <a href="{{ path('Mecque_Medical_Pelerin', { pelerin : pelerin.id})}}">
                        {{ pelerin.nom}}
                    </a>
                </td>
                <td data-label="{{ 'Age'|trans }}" class="text-center">
                    <a href="{{ path('Mecque_Medical_Pelerin', { pelerin : pelerin.id})}}">
                        {% if pelerin.datenaiss is not null %}
                        <span class="text-nowrap">{{ pelerin.age }} {{ 'ans'|trans }}</span>
                        {% else %}
                        -
                        {% endif %}
                    </a>
                </td>
                <td data-label="{{ 'Abdominale'|trans }}">
                    {% if medical.chabdo  is not null%} {{ medical.chabdo }} {% else %} - {% endif %}
                </td>
                <td data-label="{{ 'Pelvienne'|trans }}">
                    {% if medical.chpulmo  is not null %} {{ medical.chpulmo }} {% else %} - {% endif %}
                </td>
                <td data-label="{{ 'orthopedique'|trans }}">
                    {% if medical.chortho is not null %} {{ medical.chortho}} {% else %} - {% endif %}
                </td>
                <td data-label="{{ 'Cesarienne'|trans }}" {% if pelerin.sexe != 'Feminin'%} class="bg-danger" {% endif %}>
                    {% if medical.cesarienne is not null %} {{ medical.cesarienne }} {% else %} - {% endif %}
                </td>
                <td data-label="{{ 'Autres'|trans }}">
                    {% if medical.autres is not null %} {{ medical.autres}} {% else %} - {% endif %}
                </td>
            </tr>
            {% endif %}
            {% endfor %}
            {% else %}
            <tr>
                <td data-label="colspan" colspan="10">
                    {{ 'Aucun pèlerin'|trans }}
                </td>
            </tr>
            {% endif %}
        </tbody>
    </table>
</div>

{% endblock %}
