{% extends "layout.html.twig" %}
{% block title %} {{ 'Liste des femmes'|trans }} - Hajjalbayt {% endblock %}
{% block pelerin %} class="nav-item dropright active" {% endblock %}
{% block body %}

{{ include('Default/boutons.html.twig') }}
<div class="container-fluid mt-4 fond-7">
    <h3 class="mt-4 mb-5 text-bold">
        <i class="fa fa-female fa-lg"></i>
        {{ 'Liste des femmes'|trans }}
    </h3>
    <table class="table table-success-light table-bordered table-hover table-striped" id="list">
        <thead>
            <tr>
                <th class="text-center">{{ 'Numéro'|trans }}</th>
                <th class="text-center">{{ 'Photo'|trans }}</th>
                <th>{{ 'Prénom'|trans }}</th>
                <th>{{ 'Nom'|trans }}</th>
                <th class="text-center">{{ 'Date de naissance'|trans }}</th>
                <th>{{ 'Lieu de naissance'|trans }}</th>
                <th class="passeport">{{ 'Nº Passeport'|trans }}</th>
                <th class="phone">{{ 'Téléphone'|trans }}</th>
                <th>{{ 'Package'|trans }}</th>
                <th class="text-center">{{ 'Situation'|trans }}</th>
            </tr>
        </thead>
        <tbody>
            {% if pelerins is not empty %}
            {% for pelerin in pelerins %}
            <tr>
                <td data-label="{{ 'Numéro dossier'|trans }}" class="text-center">
                    <a href="{{ path('Mecque_Pelerin', { pelerin : pelerin.id})}}">
                        {{ pelerin.numdossier }}
                    </a>
                </td>
                <td data-label="{{ 'Photo'|trans }}">
                    {% if pelerin.image is not empty %}
                    <a href="{{ path('Mecque_Pelerin', { pelerin : pelerin.id})}}">
                        <img src="{{ asset('images/'~ pelerin.image.url)}}" alt="{{ pelerin.image.alt}}" class="rounded-circle">
                    </a>
                    {% else %}
                    <a href="{{ path('Mecque_Pelerin', { pelerin : pelerin.id})}}">
                        <img src="{{ asset('images/avatar-femme.jpg')}}" alt="Photo pèlerin" class="rounded-circle">
                    </a>
                    {% endif %}
                </td>
                <td data-label="{{ 'Prénom'|trans }}">
                    <a href="{{ path('Mecque_Pelerin', { pelerin : pelerin.id})}}">
                        {{ pelerin.prenom}}
                    </a>
                </td>
                <td data-label="{{ 'Nom'|trans }}">
                    <a href="{{ path('Mecque_Pelerin', { pelerin : pelerin.id})}}">
                        {{ pelerin.nom}}
                    </a>
                </td>
                <td data-label="{{ 'Date de naissance'|trans }}" class="text-center">
                    <a href="{{ path('Mecque_Pelerin', { pelerin : pelerin.id})}}">
                        {% if pelerin.datenaiss is empty %}

                        {% else %}
                        {{ pelerin.datenaiss|date('d/m/Y')}}
                        {% endif %}
                    </a>
                </td>
                <td data-label="{{ 'Lieu de naissance'|trans }}">
                    <a href="{{ path('Mecque_Pelerin', { pelerin : pelerin.id})}}">
                        {{ pelerin.lieunaiss}}
                    </a>
                </td>
                <td data-label="{{ 'Nº Passeport'|trans }}" class="passeport">
                    <a href="{{ path('Mecque_Pelerin', { pelerin : pelerin.id})}}">
                        {{ pelerin.numpassport}}
                    </a>
                </td>
                <td data-label="{{ 'Téléphone'|trans }}" class="phone">
                    <a href="{{ path('Mecque_Pelerin', { pelerin : pelerin.id})}}">
                        {{ pelerin.phone}}
                    </a>
                </td>
                <td data-label="{{ 'Package'|trans }}">
                    <a href="{{ path('Mecque_Pelerin', { pelerin : pelerin.id})}}">
                        {{ pelerin.pack.designation }}
                    </a>
                </td>

                {% set situation = pelerin.situation %}
                {% if pelerin.compte == situation or pelerin.exonorer == 1 %}
                <td data-label="{{ 'Situation'|trans }}" class="OK">
                    {{ 'Soldé'|trans }}
                    {% if pelerin.surplus == 1 %}
                    <button type="button" class="btn btn-shadow btn-sm btn-td btn-green no-events mt-2">
                        <i class="fa fa-plus-circle"></i>
                        2 000
                    </button>
                    {% endif %}
                </td>
                {% elseif pelerin.compte > situation or pelerin.exonorer == 1 %}
                <td data-label="{{ 'Situation'|trans }}" class="OK">
                    {% set montant = pelerin.compte - situation %}
                    <span class="montant">+{{ montant|number_format(0, '' , ' ') }}</span>
                    {% if pelerin.surplus == 1 %}
                    <button type="button" class="btn btn-shadow btn-sm btn-td btn-green no-events mt-2">
                        <i class="fa fa-plus-circle"></i>
                        2 000
                    </button>
                    {% endif %}
                </td>
                {% else %}
                {% set montant = pelerin.compte - situation %}
                <td data-label="{{ 'Situation'|trans }}" class="KO">
                    <span class="montant">{{ montant|number_format(0, '' , ' ') }}</span>
                    {% if pelerin.surplus == 1 %}
                    <button type="button" class="btn btn-shadow btn-sm btn-td btn-danger no-events mt-2 float-right">
                        <i class="fa fa-plus-circle"></i>
                        2 000
                    </button>
                    {% endif %}
                </td>
                {% endif %}

            </tr>
            {% endfor %}
            {% else %}
            <tr>
                <td data-label="colspan" colspan="10">
                    {{ 'Aucun pèlerin'|trans }}
                </td>
            </tr>
            {% endif %}
        </tbody>
    </table>
</div>
<div class="container-fluid mt-4 mb-5 pt-3 pb-2 fond-7">
    <div class="centrer">
        <div class="row">
            {% if app.user.agence.licence == 1 %}
            <a href="{{ path('Mecque_PelerinListFemaletemp') }}"{# target="_blank"#} class="btn btn-shadow btn-bas btn-success-light mb-2 mr-2">
                <i class="fa fa-print"></i>
                {{ 'Imprimer'|trans }}
            </a>
            <span id="exportexcel" class="btn-bas mb-2 mr-2"></span>
            {% else %}
            <button data-toggle="modal" data-target="#licence" class="btn btn-shadow btn-bas btn-success-light mb-2 mr-2">
                <i class="fa fa-print"></i>
                {{ 'Imprimer'|trans }}
            </button>
            <button data-toggle="modal" data-target="#licence" class="btn btn-shadow btn-bas btn-green mb-2 mr-2">
                <i class="fa fa-file-excel fa-lg"></i>
                {{ 'Exporter vers Excel'|trans }}
            </button>
            {{ include('licence/licence-popup.html.twig') }}
            {% endif %}
        </div>
    </div>
</div>

{% endblock %}
