{% extends "layout.html.twig" %}
{% block title %} {{ 'Réservations'|trans }} - Hajjalbayt {% endblock %}
{% block pelerin %} class="nav-item dropright active" {% endblock %}
{% block body %}

    {% if is_granted('ROLE_CHEF') %}
        <div class="col-md-10 offset-md-1 mt-5 mb-5 fond-7">
    {% else %}
        <div class="col-md-8 offset-md-2 mt-5 mb-5 fond-7">
    {% endif %}
    <h2 class="mt-3 mb-5 text-bold">
        <i class="fa fa-user-clock"></i>
        {{ 'Réservations'|trans }}
    </h2>
    <a href="{{ path('Mecque_AddPelerinWating') }}" class="btn btn-shadow btn-green mt-3 mb-5">
        <i class="fa fa-plus-circle"></i>
        {{ 'Nouvelle réservation'|trans }}
    </a>
    <table class="table table-success-light table-bordered table-hover table-striped" id="list">
        <thead>
        <tr class="text-center">
            <th>{{ 'Photo'|trans }}</th>
            <th class="text-left">{{ 'Prénom'|trans }}</th>
            <th class="text-left">{{ 'Nom'|trans }}</th>
            <th>{{ 'Téléphone'|trans }}</th>
            <th class="text-left">{{ 'Adresse'|trans }}</th>
            <th>{{ 'Date'|trans }}</th>
            {% if is_granted('ROLE_CHEF') %}
                <th>{{ 'Confirmation'|trans }}</th>
                <th>{{ 'Suppression'|trans }}</th>
            {% endif %}
        </tr>
        </thead>
        <tbody>
        {% if pelerins is not empty %}
            {% for pelerin in pelerins %}
                {% if pelerin.sexe == 'Masculin' %}
                    <tr class="bg-man">
                {% else %}
                    <tr class="bg-woman">
                {% endif %}
                <td data-label="{{ 'Photo'|trans }}">
                    {% if pelerin.sexe == 'Feminin' %}
                        <img src="{{ asset('images/avatar-femme.jpg') }}" alt="Photo pèlerin" class="rounded-circle">
                    {% else %}
                        <img src="{{ asset('images/avatar.jpg') }}" alt="Photo pèlerin" class="rounded-circle">
                    {% endif %}
                </td>
                <td data-label="{{ 'Prénom'|trans }}">
                    {{ pelerin.prenom }}
                </td>
                <td data-label="{{ 'Nom'|trans }}">
                    {{ pelerin.nom }}
                </td>
                <td data-label="{{ 'Téléphone'|trans }}" class="phone">
                    {{ pelerin.phone }}
                </td>
                <td data-label="{{ 'Adresse'|trans }}">
                    {{ pelerin.adresse }}
                </td>
                <td data-label="{{ 'Date'|trans }}" class="text-center">
                    {{ pelerin.date|date('d/m/Y') }}
                    <br>
                    {{ pelerin.date|date('H:i:s') }}
                </td>
                {% if is_granted('ROLE_CHEF') %}
                    <td data-label="{{ 'Confirmation'|trans }}">
                        <a href="{{ path('Mecque_PelerinConfirm', { id : pelerin.id}) }}">
                            <button type="button" class="btn btn-shadow btn-green btn-td btn-normal">
                                <i class="fa fa-check-circle"></i>
                                {{ 'Confirmer'|trans }}
                            </button>
                        </a>
                    </td>
                    <td data-label="{{ 'Suppression'|trans }}">
                        <button class="btn btn-shadow btn-danger btn-td btn-normal"
                                onclick="deletewaiting({{ pelerin.id }})" id="{{ pelerin.id }}">
                            <i class="fa fa-trash-alt"></i>
                            {{ 'Supprimer'|trans }}
                        </button>
                    </td>
                {% endif %}
                </tr>
            {% endfor %}
        {% else %}
            <tr>
                {% if is_granted('ROLE_CHEF') %}
                    <td data-label="colspan" colspan="8">
                        {{ 'Aucun pèlerin en attente'|trans }}
                    </td>
                {% else %}
                    <td data-label="colspan" colspan="6">
                        {{ 'Aucun pèlerin en attente'|trans }}
                    </td>
                {% endif %}
            </tr>
        {% endif %}
        </tbody>
    </table>
    </div>

    {% block script %}
        <script>
            //supprimer une réservation
            function deletewaiting(id) {
                if (confirm("{{ 'Voulez-vous vraiment supprimer cette réservation ?'|trans }}")) {
                    $('#' + id).html("<div class='ajax-loader'></div>");
                    $.ajax({
                        type: "POST",
                        url: "{{ path('Mecque_PelerinWaitingDelete') }}",
                        data: "pel=" + id,
                        success: function (data) {
                            document.location.href = "{{ path('Mecque_PelerinWating') }}";
                        },
                        error: function () {
                            alert("{{ 'La requête n a pas abouti'|trans }}");
                        }
                    });
                }
            }
        </script>
    {% endblock %}

{% endblock %}