{% extends "layout.html.twig" %}
{% block title %} {{ 'Pèlerins avec remarques'|trans }} - Hajjalbayt {% endblock %}
{% block pelerin %} class="nav-item dropright active" {% endblock %}
{% block body %}

{{ include('Default/boutons.html.twig') }}
<div class="container-fluid mt-4 mb-5 fond-7">
    <h3 class="mt-4 mb-5 text-bold">
        <i class="fa fa-users mr-1"></i>
        {{ 'Pèlerins avec remarques'|trans }}
    </h3>
    <table class="table table-success-light table-bordered table-hover table-striped" id="list">
        <thead>
            <tr>
                <th class="text-center">{{ 'Numéro'|trans }}</th>
                <th class="text-center">{{ 'Photo'|trans }}</th>
                <th>{{ 'Prénom'|trans }}</th>
                <th>{{ 'Nom'|trans }}</th>
                <th class="text-center">{{ 'Date de naissance'|trans }}</th>
                <th>{{ 'Diabète'|trans }}</th>
                <th>{{ 'Handicape'|trans }}</th>
                <th>{{ 'Non voyant'|trans }}</th>
                <th>{{ 'Hypotension'|trans }}</th>
                <th>{{ 'Hypertension'|trans }}</th>
                <th>{{ 'Autre'|trans }}</th>
            </tr>
        </thead>
        <tbody>
            {% if pelerins is not empty %}
            {% for pelerin in pelerins %}
            {% if pelerin.sexe == 'Masculin' %}
            <tr class="bg-man">
                {% else %}
            <tr class="bg-woman">
                {% endif %}
                <td data-label="{{ 'Numéro dossier'|trans }}" class="text-center">
                    <a href="{{ path('Mecque_Pelerin', { pelerin : pelerin.id})}}">
                        {{ pelerin.numdossier }}
                    </a>
                </td>
                <td data-label="{{ 'Photo'|trans }}">
                    {% if pelerin.image is not empty %}
                    <a href="{{ path('Mecque_Pelerin', { pelerin : pelerin.id})}}">
                        <img src="{{ asset('images/'~ pelerin.image.url)}}" alt="{{ pelerin.image.alt}}" class="rounded-circle">
                    </a>
                    {% else %}
                    <a href="{{ path('Mecque_Pelerin', { pelerin : pelerin.id})}}">
                        {% if pelerin.sexe == 'Feminin' %}
                        <img src="{{ asset('images/avatar-femme.jpg')}}" alt="Photo pèlerin" class="rounded-circle">
                        {% else %}
                        <img src="{{ asset('images/avatar.jpg')}}" alt="Photo pèlerin" class="rounded-circle">
                        {% endif %}
                    </a>
                    {% endif %}
                </td>
                <td data-label="{{ 'Prénom'|trans }}">
                    <a href="{{ path('Mecque_Pelerin', { pelerin : pelerin.id})}}">
                        {{ pelerin.prenom}}
                    </a>
                </td>
                <td data-label="{{ 'Nom'|trans }}">
                    <a href="{{ path('Mecque_Pelerin', { pelerin : pelerin.id})}}">
                        {{ pelerin.nom}}
                    </a>
                </td>
                <td data-label="{{ 'Date de naissance'|trans }}" class="text-center">
                    <a href="{{ path('Mecque_Pelerin', { pelerin : pelerin.id})}}">
                        {{ pelerin.datenaiss|date('d/m/Y')}}
                    </a>
                </td>
                <td data-label="{{ 'Diabète'|trans }}" class="text-center">
                    <a href="{{ path('Mecque_Pelerin', { pelerin : pelerin.id})}}">
                        {% if pelerin.diabete == 1%}
                        {{ 'Oui'|trans }}
                        {% else %}
                        -
                        {% endif %}
                    </a>
                </td>
                <td data-label="{{ 'Handicape'|trans }}" class="text-center">
                    <a href="{{ path('Mecque_Pelerin', { pelerin : pelerin.id})}}">
                        {% if pelerin.handicap == 1%}
                        {{ 'Oui'|trans }}
                        {% else %}
                        -
                        {% endif %}
                    </a>
                </td>
                <td data-label="{{ 'Non voyant'|trans }}" class="text-center">
                    <a href="{{ path('Mecque_Pelerin', { pelerin : pelerin.id})}}">
                        {% if pelerin.nonvoyant == 1%}
                        {{ 'Oui'|trans }}
                        {% else %}
                        -
                        {% endif %}
                    </a>
                </td>
                <td data-label="{{ 'Hypotension'|trans }}" class="text-center">
                    <a href="{{ path('Mecque_Pelerin', { pelerin : pelerin.id})}}">
                        {% if pelerin.hypo == 1%}
                        {{ 'Oui'|trans }}
                        {% else %}
                        -
                        {% endif %}
                    </a>
                </td>
                <td data-label="{{ 'Hypertension'|trans }}" class="text-center">
                    <a href="{{ path('Mecque_Pelerin', { pelerin : pelerin.id})}}">
                        {% if pelerin.hyper == 1%}
                        {{ 'Oui'|trans }}
                        {% else %}
                        -
                        {% endif %}
                    </a>
                </td>
                <td data-label="{{ 'Autre'|trans }}" class="text-center">
                    <a href="{{ path('Mecque_Pelerin', { pelerin : pelerin.id})}}">
                        {% if pelerin.remark is not null%}
                        {{ pelerin.remark }}
                        {% else %}
                        -
                        {% endif %}
                    </a>
                </td>
            </tr>
            {% endfor %}
            {% else %}
            <tr>
                <td data-label="colspan" colspan="11">{{ 'Aucun pèlerin'|trans }}</td>
            </tr>
            {% endif %}
        </tbody>
    </table>
</div>

{% endblock %}
