{% extends "accueil.html.twig" %}
{% block title %} {{'Fermeture de Session'|trans }} - Hajjalbayt {% endblock %}
{% block session %} class="nav-item dropright active" {% endblock %}
{% block body %}
<div class="col-md-4 offset-md-4 mt-5 mb-5 fond-7">
    <h3 class="mt-4 mb-5 text-bold">
        <i class="fa fa-calendar-times mr-2"></i>
        {{ 'Fermeture de Session'|trans }}
    </h3>
    <div class="mt-4 text-danger text-bold text-center">
        <i class="fa fa-exclamation-triangle"></i>
        {{ 'Vous êtes sur le point de clôturer la session en cours'|trans }}
        "{{ session }}"
    </div>
    <div class="text-danger text-bold ml-4 mt-4"> {{ 'En êtes-vous sûr ?'|trans }}</div>
    <div class="centrer mt-4 mb-3">
        <div class="row">
            <a href="{{path('Mecque_SessionClose') }}" class="btn btn-shadow btn-green btn-normal mb-2 mr-3">
                &emsp;
                <i class="fa fa-check-circle"></i>
                {{'Oui'|trans }}
                &emsp;
            </a>
            <a href="{{ path('Mecque_homepage') }}" class="btn btn-shadow btn-warning btn-normal mb-2">
                &emsp;
                <i class="fa fa-undo"></i>
                {{'Non'|trans }}
                &emsp;
            </a>
        </div>
    </div>
</div>

{% endblock %}
