{% extends "layout.html.twig" %}
{% block title %} {{ 'Vol allée'|trans }} - Hajjalbayt {% endblock %}
{% block transport %} class="nav-item dropright active" {% endblock %}
{% block facture %} onload="reponse()" {% endblock%}
{% block body %}

<div class="col-lg-11 mt-5 mb-5 fond-7">
    <h3 class="mt-4 mb-5 text-bold">
        <i class="fas fa-plane-departure mr-2"></i>
        {{ 'Vol allée'|trans }}
    </h3>
    <div class="row mb-5">
        <div class="col-md-4 mt-3">
            {% if app.user.agence.licence == 1 %}
            <a href="{{ path('Mecque_VolAller')}}" class="btn btn-shadow btn-green">
                <i class="fa fa-plus-circle"></i>
                {{ 'Nouveau vol'|trans }}
            </a>
            {% else %}
            <button data-toggle="modal" data-target="#licence" class="btn btn-shadow btn-green">
                <i class="fa fa-plus-circle"></i>
                {{ 'Nouveau vol'|trans }}
            </button>
            {{ include('licence/licence-popup.html.twig') }}
            {% endif %}
        </div>
        <div class="col-md-8 mt-3">
            <h5 class="text-danger text-bold float-right">
                {% if pelerins is not empty %}
                {{ pelerins|length }}
                {% if pelerins|length > 1 %}
                {{ 'pèlerins en attente'|trans }}
                {% else %}
                {{ 'pèlerin en attente'|trans }}
                {% endif %}
                {% endif %}
            </h5>
        </div>
    </div>
    {% for message in app.session.flashbag.get('notice') %}
    <div class="alert alert-success alert-dismissible fade show radius-10 shadow-black mt-4 mb-5">
        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
        {{ message|trans }}
    </div>
    {% endfor %}
    <table class="table table-success-light table-bordered table-hover table-striped">
        <thead>
            <tr class="text-center">
                <th>{{ 'Modifier'|trans }}</th>
                <th>{{ 'Supprimer'|trans }}</th>
                <th>{{ 'Compagnie'|trans }}</th>
                <th>{{ 'Nº vol'|trans }}</th>
                <th>{{ 'Destination'|trans }}</th>
                <th>{{ 'Date de vol'|trans }}</th>
                <th>{{ 'Heure'|trans }}</th>
                <th>{{ 'Pèlerins à bord'|trans }}</th>
                <th>{{ 'Embarquer'|trans }}</th>
                <th>{{ 'Débarquer'|trans }}</th>
            </tr>
        </thead>
        <tbody>
            {% if vols is not empty %}
            {% for vol in vols %}
            <tr>
                <td data-label="{{ 'Modifier'|trans }}">
                    <a href="{{ path('Mecque_VolAllerEdit', {id : vol.id}) }}">
                        <button class="btn btn-shadow btn-td btn-primary" title="{{ 'Modifier le vol'|trans }}">
                            <i class="fa fa-edit fa-lg"></i>

                        </button>
                    </a>
                </td>
                <td data-label="{{ 'Supprimer'|trans }}">
                    {% if vol.pelerins|length != 0%}
                    <button class="btn btn-shadow btn-td btn-danger disabled">
                        <i class="fa fa-trash-alt fa-lg"></i>

                    </button>
                    {% else%}
                    <button class="btn btn-shadow btn-td btn-danger" id="sup{{vol.id}}" onclick="voldelete({{vol.id}})" title="{{ 'Supprimer le vol'|trans }}">
                        <i class="fa fa-trash-alt fa-lg"></i>

                    </button>
                    {% endif %}
                </td>
                <td data-label="{{ 'Compagnie'|trans }}">
                    {{ vol.compagnie.nom}}
                </td>
                <td data-label="{{ 'Nº vol'|trans }}" class="text-center">
                    {{ vol.numero}}
                </td>
                <td data-label="{{ 'Destination'|trans }}">
                    {{ vol.destination}}
                </td>
                <td data-label="{{ 'Date de vol'|trans }}" class="text-center">
                    {{ vol.Datedepart|date('d/m/Y')}}
                </td>
                <td data-label="{{ 'Heure de vol'|trans }}" class="text-center">
                    {{ vol.heuredepart|date('H:i')}}
                </td>
                <td data-label="{{ 'Pèlerins à bord'|trans }}">
                    <button type="button" data-toggle="modal" data-target="#vol_{{ vol.id}}" class="btn btn-shadow btn-normal btn-td btn-info">
                        <i class="fa fa-user"></i>
                        {{ vol.pelerins|length}}
                        {% if vol.pelerins|length > 1 %}
                        {{ 'Pèlerins'|trans }}
                        {% else %}
                        {{ 'Pèlerin'|trans }}
                        {% endif %}
                    </button>
                    <div class="modal fade" id="vol_{{ vol.id }}" tabindex="-1" role="dialog" aria-labelledby="volinfo" aria-hidden="true">
                        <div class="modal-dialog modal-xl" role="document">
                            <div class="modal-content mt-5">
                                <div class="modal-header bb-green">
                                    <div class="col-12">
                                        <h4 class="modal-title text-center" id="volinfo">
                                            {{ vol.compagnie.nom }}
                                            -
                                            <span class="text-nowrap">
                                                {{ 'Nº vol'|trans }} : {{ vol.numero }}
                                            </span>
                                            -
                                            <span class="text-nowrap">
                                                {{ 'Date de vol'|trans }} : {{ vol.datedepart|date('d/m/Y')}}
                                            </span>
                                        </h4>
                                    </div>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <div class="modal-body">
                                    <h4 class="mt-4 mb-4 text-left">
                                        {{'Pèlerins à bord'|trans }}
                                    </h4>
                                    <table class="table table-success-light table-striped table-bordered table-hover">
                                        <thead>
                                            <tr class="text-center">
                                                <th>{{ 'Numéro'|trans }}</th>
                                                <th>{{ 'Photo'|trans }}</th>
                                                <th class="text-left">{{ 'Prénom'|trans }}</th>
                                                <th class="text-left">{{ 'Nom'|trans }}</th>
                                                <th>{{ 'Date de naissance'|trans }}</th>
                                                <th class="text-nowrap">{{ 'Nº Passeport'|trans }}</th>
                                                <th>{{ 'Téléphone'|trans }}</th>
                                                <th>{{ 'Package'|trans }}</th>
                                                <th>{{ 'Débarquer'|trans }}</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            {% if vol.pelerins is not empty %}
                                            {% for pelerin in vol.pelerins %}
                                            <tr class="text-uppercase">
                                                <td data-label="{{ 'Numéro dossier'|trans }}" class="text-center">
                                                    {{ pelerin.numdossier}}
                                                </td>
                                                <td data-label="{{ 'Photo'|trans }}">
                                                    {% if pelerin.image is not empty %}

                                                    <img src="{{ asset('images/'~ pelerin.image.url) }}" alt="{{ pelerin.image.alt}}" class="rounded-circle">

                                                    {% else %}

                                                    {% if pelerin.sexe == 'Feminin' %}
                                                    <img src="{{ asset('images/avatar-femme.jpg') }}" alt="Photo pèlerin" class="rounded-circle">
                                                    {% else %}
                                                    <img src="{{ asset('images/avatar.jpg') }}" alt="Photo pèlerin" class="rounded-circle">
                                                    {% endif %}

                                                    {% endif %}
                                                </td>
                                                <td data-label="{{ 'Prénom'|trans }}">
                                                    {{ pelerin.prenom}}
                                                </td>
                                                <td data-label="{{ 'Nom'|trans }}">
                                                    {{ pelerin.nom}}
                                                </td>
                                                <td data-label="{{ 'Date de naissance'|trans }}" class="text-center">
                                                    {{ pelerin.datenaiss|date('d/m/Y')}}
                                                </td>
                                                <td data-label="{{ 'Nº Passeport'|trans }}" class="passeport">
                                                    {{ pelerin.numpassport}}
                                                </td>
                                                <td data-label="{{ 'Téléphone'|trans }}" class="phone">
                                                    {{ pelerin.phone}}
                                                </td>
                                                <td data-label="{{ 'Package'|trans }}">
                                                    {{ pelerin.pack.designation}}
                                                </td>
                                                <td data-label="{{ 'Débarquer'|trans }}" id="td{{pelerin.id}}">
                                                    <button class="btn btn-shadow btn-normal btn-td btn-danger" id="{{pelerin.id}}" onclick="voluserdescendre({{pelerin.id}})" title="{{ 'Débarquer pèlerin'|trans }}">
                                                        <i class="fa fa-user fa-lg"></i>
                                                        <i class="fa fa-angle-double-left fa-lg"></i>
                                                        <i class="fa fa-plane fa-lg"></i>
                                                    </button>
                                                </td>

                                            </tr>
                                            {% endfor %}
                                            {% else %}
                                            <tr>
                                                <td data-label="colspan" colspan="9">
                                                    {{ 'Aucun pèlerin à bord'|trans }}
                                                </td>
                                            </tr>

                                            {% endif %}
                                        </tbody>
                                    </table>

                                </div>
                                <div class="modal-footer bt-green">
                                    <div class="row">
                                        <div class="col-12">
                                            <button type="button" class="btn btn-shadow btn-normal btn-td btn-warning float-right" data-dismiss="modal">
                                                <i class="fa fa-times-circle"></i>
                                                {{ 'Fermer'|trans }}
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </td>
                <td data-label="{{ 'Embarquer'|trans }}">
                    {% if pelerins is not empty %}
                    <a href="{{ path('Mecque_VolEmbarquer', { id : vol.id}) }}">
                        <button class="btn btn-shadow btn-normal btn-td btn-green" title="{{ 'Embarquer pèlerin'|trans }}">
                            <i class="fa fa-user fa-lg"></i>
                            <i class="fa fa-angle-double-right fa-lg"></i>
                            <i class="fa fa-plane fa-lg"></i>
                        </button>
                    </a>
                    {% else %}
                    <button class="btn btn-shadow btn-normal btn-td btn-green disabled">
                        <i class="fa fa-user fa-lg"></i>
                        <i class="fa fa-angle-double-right fa-lg"></i>
                        <i class="fa fa-plane fa-lg"></i>
                    </button>
                    {% endif %}
                </td>
                <td data-label="{{ 'Débarquer'|trans }}">
                    {% if vol.pelerins|length != 0 %}
                    <a href="{{ path('Mecque_VolDebarquer', { id : vol.id}) }}">
                        <button class="btn btn-shadow btn-normal btn-td btn-danger" title="{{ 'Débarquer pèlerin'|trans }}">
                            <i class="fa fa-user fa-lg"></i>
                            <i class="fa fa-angle-double-left fa-lg"></i>
                            <i class="fa fa-plane fa-lg"></i>
                        </button>
                    </a>
                    {% else %}
                    <button class="btn btn-shadow btn-normal btn-td btn-danger disabled">
                        <i class="fa fa-user fa-lg"></i>
                        <i class="fa fa-angle-double-left fa-lg"></i>
                        <i class="fa fa-plane fa-lg"></i>
                    </button>
                    {% endif %}
                </td>

            </tr>
            {% endfor %}
            {% else %}
            <tr>
                <td data-label="colspan" colspan="10">
                    {{ 'Aucun vol créé'|trans }}
                </td>
            </tr>
            {% endif %}

        </tbody>
    </table>
</div>

    {% block script %}
        <script>

            //debarquement d'un pelerins du vol allee
            function voluserdescendre(pel) {
                if (confirm("{{'Voulez-vous vraiment débarquer ce pèlerin de ce vol ?'|trans}}")) {
                    $('#' + pel).html("<div class='ajax-loader'></div>");
                    $.ajax({
                        type: "POST",
                        url: "{{ path('Mecque_VolUserDescendre') }}",
                        data: "pel=" + pel,
                        success: function(data) {
                            document.location.href = "{{ path('Mecque_TransportAerien') }}";
                        },
                        error: function() {
                            alert("{{'La requête n a pas abouti'|trans }}");
                        }
                    });
                }
            }

            {{ include('scripts/voldelete.html.twig') }}

        </script>
    {% endblock %}

{% endblock %}