{% extends "MecqueBundle::layout.html.twig" %}
{% block pelerin%} class="nav-item dropright active" {% endblock %}
{% block body %}
	<div class="row">
		<div class="col-lg-12">
                        <h1 class="page-header">{{ session }}| Listes des Pelerins Femmes</h1>
                    </div>
                    <!-- /.col-lg-12 -->
                </div>
				<div class="row">
				<div class="col-lg-12">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            Liste des pelerins Femmes
							<a href="{{ path('Mecque_ArchivePelerinListMale', { saison : session }) }}"><button class="btn btn-primary"> <i class="fa fa-male"></i> Liste des Hommes</button></a>
							<a href="{{ path('Mecque_ArchivePelerinListFemaleless45', { saison : session }) }}"><button class="btn btn-warning"> <i class="fa fa-female"></i> Liste des Femmes -45 ans</button></a>
							<a href="{{ path('Mecque_ArchiveReductionList', { saison : session }) }}"><button class="btn btn-danger"> <i class="fa fa-group"></i> Pelerins ayant Reduction</button></a>
							<a href="{{ path('Mecque_ArchivePelerinCourtierList', { saison : session }) }}"><button class="btn btn-info"> <i class="fa fa-group"></i> Emmene par un courtier</button></a>

						</div>
                        <!-- /.panel-heading -->
                        <div class="panel-body">
                            <table width="100%" class="table table-striped table-bordered table-hover" id="dataTables-example">
                                <thead>
								<tr>
                                        <th>Prenom</th>
                                        <th>Nom</th>
                                        <th>Numero passeport</th>
										<th>Numero de taxe Saoudien</th>
                                        <th>Telephone Pelerin</th>
                                        <th>Pack</th>
                                    </tr>
                                </thead>
                                <tbody> 
								{% if pelerins is not empty %}
									{% for pelerin in pelerins %}
										{% if pelerin.compte >= pelerin.pack.montant %}
										<tr class="success">
										{% else %}
										<tr class="danger">
										{% endif %}
										<td><a href="{{ path('Mecque_Pelerin', { pelerin : pelerin.id})}}">{{ pelerin.prenom}}</a></td>
										<td><a href="{{ path('Mecque_Pelerin', { pelerin : pelerin.id})}}">{{ pelerin.nom}}</a></td>
										<td><a href="{{ path('Mecque_Pelerin', { pelerin : pelerin.id})}}">{{ pelerin.numpassport}}</a></td>
										<td><a href="{{ path('Mecque_Pelerin', { pelerin : pelerin.id})}}">{{ pelerin.numsaoudiantax}}</a></td>
										<td><a href="{{ path('Mecque_Pelerin', { pelerin : pelerin.id})}}">{{ pelerin.phone}}</a></td>
										<td><a href="{{ path('Mecque_Pelerin', { pelerin : pelerin.id})}}">{{ pelerin.pack.designation}}</a></td>
										</tr>
									{% endfor %}
								{% else %}
									<tr><td colspan="6">aucun Pelerin</td></tr>
								{% endif %}
                                    
                                </tbody>
                            </table>
							 </div>
                        <!-- /.panel-body -->
                    </div>
                    <!-- /.panel -->
                </div>
				</div>
{% endblock %}				