{% extends "accueil.html.twig" %}
{% block title %} {{ 'Modification chambre'|trans }} - Hajjalbayt {% endblock %}
{% block hebergement %} class="nav-item dropright active" {% endblock %}
{% block body %}

{% if app.user.agence.licence == 1 %}
<div class="row">
    <div class="col-12">
        <div class="col-lg-6 offset-lg-3 mt-5 fond-7">
            <h4 class="mt-4 mb-5 text-bold">
                <i class="fa fa-mosque fa-lg"></i>
                <i class="fa fa-edit fa-sm ml-n1"></i>
                {{ 'Modification chambre'|trans }}
            </h4>

            {% for message in app.session.flashbag.get('notice') %}
            <div class="alert alert-danger alert-dismissible radius-10 shadow-black">
                <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                {{ message|trans }}
            </div>
            {% endfor %}

            <div class="col-lg-8 offset-lg-2">

                {{form_start(form, {'attr':{'id': 'form'}}) }}
                <div class="form-group mt-4">
                    {{ form_row(form.hotel, {'label':false}) }}
                </div>
                <div class="form-group mt-4">
                    {{ form_row(form.numeroreel, {'attr':{'placeholder':'Numéro chambre'}, 'label':false}) }}
                </div>
                <div class="form-group mt-4">
                    {{ form_row(form.type, {'label':false}) }}
                </div>
                <div class="form-group mt-4 mb-5">
                    {{ form_row(form.place, {'label':false}) }}
                </div>
            </div>
        </div>
        <div class="col-lg-6 offset-lg-3 mt-4 mb-5 pt-3 pb-2 fond-7">
            <div class="centrer">
                <div class="row">
                    <button type="button" class="btn btn-shadow btn-normal btn-green mb-2 mr-3" id="send" onclick="envoie()">
                        <i class="fa fa-save"></i>
                        {{ 'Enregistrer'|trans }}
                    </button>
                    <a href="{{ path('Mecque_Hebergement') }}" class="btn btn-shadow btn-normal btn-warning mb-2">
                        <i class="fa fa-undo"></i>
                        {{ 'Annuler'|trans }}
                    </a>
                    {{ form_rest(form) }}
                    {{ form_end(form) }}
                </div>
            </div>
        </div>
    </div>
</div>
{% else %}
{{ include('licence/licence-page.html.twig') }}
{% endif %}

{% endblock %}
