{% extends 'accueil.html.twig' %}
{% block title %} {{ 'Changement mot de passe'|trans }} - Hajjalbayt {% endblock %}
{% block body %}

<div class="row">
    <div class="col-lg-12">
        <div class="col-lg-6 offset-lg-3 mt-5 fond-7">
            <h4 class="mt-4 mb-5 text-bold">
                <i class="fa fa-lock"></i>
                {{ 'Changement mot de passe'|trans }}
            </h4>

            <div class="col-lg-8 offset-lg-2">
                {% if form_errors(form) %}
                <div class="alert alert-danger radius-10 shadow-black">
                    {{ 'Mot de passe incorrecte'|trans }}
                </div>
                {% endif %}

                {{ form_start(form) }}

                <div class="form-group mt-4">
                    {{ form_row(form.test, { 'attr' : { 'placeholder' : 'Mot de passe actuel', 'autofocus':'autofocus'}}) }}
                </div>
                <div class="form-group mt-4">
                    {{ form_row(form.password, { 'attr' : { 'placeholder' : 'Nouveau mot de passe'}}) }}
                </div>
                <div class="form-group mt-4 mb-5">
                    {{ form_row(form.confirm, { 'attr' : { 'placeholder' : 'Confirmer mot de passe'}}) }}
                </div>
            </div>
        </div>
        <div class="col-lg-6 offset-lg-3 mt-4 mb-5 pt-3 pb-2 fond-7">
            <div class="centrer">
                <div class="row">
                    <button type="submit" class="btn btn-shadow btn-normal btn-green mb-2 mr-3">
                        <i class="fa fa-save"></i>
                        {{ 'Enregistrer'|trans }}
                    </button>
                    <a href="{{ path('security_profile')}}" class="btn btn-shadow btn-normal btn-warning mb-2">
                        <i class="fa fa-undo"></i>
                        {{ 'Annuler'|trans }}
                    </a>
                    {{ form_rest(form) }}
                    {{ form_end(form) }}
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}
