{% extends 'security.html.twig' %}
{% block title %} {{ 'Mot de passe oublié'|trans }} - Hajjalbayt {% endblock %}
{% block body %}

    {% for message in app.flashes('notice') %}
        <div class="col-10 offset-1">
            <div class="alert alert-danger alert-dismissible fade show radius-10 shadow-black">
                <button type="button" class="close" data-dismiss="alert" aria-hidden="true">
                    &times;
                </button>
                {{ message|trans }}
            </div>
        </div>
    {% endfor %}

    {% for message in app.flashes('change') %}
        <div class="col-10 offset-1">
            <div class="alert alert-success alert-dismissible fade show radius-10 shadow-black">
                <button type="button" class="close" data-dismiss="alert" aria-hidden="true">
                    &times;
                </button>
                {{ message|trans }}
            </div>
        </div>
    {% endfor %}

    <form action="{{ path('security_forgotten_password') }}" method="POST" class="form-signin">
        <div class="input-group">
            <div class="input-group-prepend">
                <span class="input-group-text">
                        <i class="fa fa-at"></i>
                </span>
            </div>
            <input type="email" name="_mail" id="_mail" placeholder="{{ 'Adresse email'|trans }}" class="form-control" required>
        </div>
        <div class="form-group mt-4">
            <a href="{{ path('security_login') }}">
                {{ 'Retour à la page de connexion'|trans }}
            </a>
        </div>
        <button class="btn btn-shadow btn-green mt-4 pl-4 pr-4" type="submit">
            {{ 'Réinitialiser'|trans }}
            <i class="fa fa-sync"></i>
        </button>
    </form>

{% endblock %}
