{% extends 'accueil.html.twig' %}
{% block title %} {{ 'Nouvel utilisateur'|trans }} {% endblock %}
{% block body %}

{% if app.user.agence.licence == 1 %}
<div class="row">
    <div class="col-lg-12">
        <div class="col-lg-6 offset-lg-3 mt-5 fond-7">
            <h4 class="mt-4 mb-5 text-bold">
                <i class="fa fa-user-plus"></i>
                {{ 'Nouvel utilisateur'|trans }}
            </h4>
            <div class="col-lg-12 mt-5 mb-5">
                {{ form_start(form) }}

                <div class="row">
                    <div class="col-md-6">
                        {{ form_errors(form.username) }}
                    </div>
                    <div class="col-md-6">
                        {{ form_errors(form.email) }}
                    </div>
                    <div class="col-md-6">
                        <div class="form-group mb-4">
                            {{ form_widget(form.username, {'attr' : { 'placeholder' : 'Identifiant', 'autofocus':'autofocus'}})}}
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group mb-4">
                            {{ form_widget(form.email, {'attr' : { 'placeholder' : 'Adresse email'}}) }}
                        </div>
                    </div>

                    <div class="col-md-6">
                        {{ form_errors(form.phone) }}
                    </div>
                    <div class="col-md-6">
                        {{ form_errors(form.fonction) }}
                    </div>
                    <div class="col-md-6">
                        <div class="form-group mb-4">
                            {{ form_widget(form.phone, {'attr' : { 'placeholder' : 'Téléphone'}}) }}
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group mb-4">
                            {{ form_widget(form.fonction) }}
                        </div>
                    </div>
                </div>

                {{ form_rest(form)}}
            </div>
        </div>
        <div class="col-lg-6 offset-lg-3 mt-4 mb-5 pt-3 pb-3 fond-7">
            <div class="centrer">
                <div class="row">
                    <button class="btn btn-shadow btn-normal btn-green mr-3" onclick="envoie()">
                        <i class="fa fa-save"></i>
                        {{ 'Enregistrer'|trans }}
                    </button>
                    <a href="{{ path('security_profile')}}" class="btn btn-shadow btn-normal btn-warning">
                        <i class="fa fa-undo"></i>
                        {{ 'Annuler'|trans }}
                    </a>
                </div>
                {{ form_end(form) }}
            </div>
        </div>
    </div>
</div>
{% else %}
{{ include('licence/licence-page.html.twig') }}
{% endif %}

{% endblock %}
