{% extends 'security.html.twig' %}
{% block title %} {{ 'Connexion'|trans }} - Hajjalbayt {% endblock %}
{% block body %}

    <div class="col-10 offset-1">
        {% for message in app.flashes('change') %}
            <div class="alert alert-success alert-dismissible fade show radius-10 shadow-black">
                <button type="button" class="close" data-dismiss="alert" aria-hidden="true">
                    &times;
                </button>
                {{ message|trans }}
            </div>
        {% endfor %}
        {% for message in app.flashes('notice') %}
            <div class="alert alert-danger alert-dismissible fade show radius-10 shadow-black">
                <button type="button" class="close" data-dismiss="alert" aria-hidden="true">
                    &times;
                </button>
                {{ message|trans }}
            </div>
        {% endfor %}

        {% if error %}
            <div class="alert alert-danger alert-dismissible fade show radius-10 shadow-black">
                <button type="button" class="close" data-dismiss="alert" aria-hidden="true">
                    &times;
                </button>
                {{ 'Adresse email ou mot de passe incorrecte'|trans }}
            </div>
        {% endif %}
    </div>

    <form action="{{ path('security_login') }}" method="POST" class="form-signin">
        <div class="form-group mb-4">
            <div class="input-group">
                <div class="input-group-prepend">
                    <span class="input-group-text">
                        <i class="fa fa-at"></i>
                    </span>
                </div>
                <input type="email" name="_username" id="_username" value="{{ last_user }}"
                       placeholder="{{ 'Adresse email'|trans }}" class="form-control" required/>
            </div>
        </div>
        <div class="form-group mb-4">
            <div class="input-group">
                <div class="input-group-prepend">
                    <span class="input-group-text">
                        <i class="fa fa-lock"></i>
                    </span>
                </div>
                <input type="password" name="_password" id="_password" placeholder="{{ 'Mot de passe'|trans }}"
                       class="form-control"/>
            </div>
        </div>
        <div class="form-group mb-4">
            <a href="{{ path('security_forgotten_password') }}">
                {{ 'Mot de passe oublié'|trans }}
            </a>
        </div>
        <button type="submit" class="btn btn-shadow btn-green pl-4 pr-4">
            {{ 'Se connecter'|trans }}
            <i class="fa fa-sign-in-alt"></i>
        </button>
    </form>

{% endblock %}
