{% extends 'layout.html.twig' %}
{% block title %} {{ 'Administration'|trans }} - Hajjalbayt {% endblock %}

{% block body %}
<div class="col-lg-11 mt-5 mb-5 fond-7">
    <h3 class="mt-4 mb-5 text-bold">
        <i class="fa fa-user-cog"></i>
        {{ 'Administration'|trans }}
    </h3>
    {% for message in app.flashes('notice')%}
    <div class="alert alert-success alert-dismissible fade show radius-10 shadow-black">
        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
        {{ message|trans }}
    </div>
    {% endfor%}
    <table class="table table-success-light table-bordered table-hover table-striped">
        <thead>
            <tr>
                <th class="text-center">
                    {{ 'Photo'|trans }}
                </th>
                <th>
                    {{ 'Identifiant'|trans }}
                </th>
                <th>
                    {{ 'Prénom'|trans }}
                </th>
                <th>
                    {{ 'Nom'|trans }}
                </th>
                <th>
                    {{ 'Adresse email'|trans }}
                </th>
                <th class="text-center">
                    {{ 'Téléphone'|trans }}
                </th>
                <th class="text-center">
                    {{ 'Fonction'|trans }}
                </th>
                <th class="text-center">
                    {{ 'Action'|trans }}
                </th>
            </tr>
        </thead>
        <tbody>
            {% for user in users %}
            <tr>
                <td data-label="{{ 'Photo'|trans }}">
                    <a href="{{ path('security_user', { name : user.username })}}">
                        <img src="{{asset('images/avatar.jpg') }}" class="rounded-circle">
                    </a>
                </td>
                <td data-label="{{ 'Identifiant'|trans }}">
                    <a href="{{ path('security_user', { name : user.username })}}">
                        {{ user.username|upper }}
                    </a>
                </td>
                <td data-label="{{ 'Prénom'|trans }}">
                    <a href="{{ path('security_user', { name : user.username })}}">
                        {{ user.prenom }}
                    </a>
                </td>
                <td data-label="{{ 'Nom'|trans }}">
                    <a href="{{ path('security_user', { name : user.username })}}">
                        {{ user.nom|upper }}
                    </a>
                </td>
                <td data-label="{{ 'Adresse email'|trans }}">
                    <a href="{{ path('security_user', { name : user.username })}}">
                        {{ user.email }}
                    </a>
                </td>
                <td data-label="{{ 'Téléphone'|trans }}" class="phone">
                    <a href="{{ path('security_user', { name : user.username })}}">
                        {{ user.phone }}
                    </a>
                </td>
                <td data-label="{{ 'Fonction'|trans }}" class="text-center">
                    <a href="{{ path('security_user', { name : user.username })}}">
                        {{ user.fonction }}
                    </a>
                </td>
                <td data-label="{{ 'Action'|trans }}">
                    {% if is_granted('ROLE_CHEF')%}
                    {% if is_granted('ROLE_PROPRIETAIRE') or user.fonction != 'proprietaire' %}
                    {% if user.enabled == 1%}
                    <button class="btn btn-shadow btn-td btn-normal btn-danger" id="btn{{user.id}}" onclick="userdisable({{user.id}})">
                        <i class="fa fa-user-lock"></i>
                        {{'Désactiver'|trans}}
                    </button>
                    {% else %}
                    <button class="btn btn-shadow btn-td btn-normal btn-green" id="btn{{user.id}}" onclick="userenable({{user.id}})">
                        <i class="fa fa-lock-open"></i>
                        {{'Activer'|trans}}
                    </button>
                    {% endif %}
                    {% endif %}
                    {% endif %}
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% block scripts %}
<script>
    function userdisable(id) {
        if (confirm("{{ 'Voulez-vous vraiment désactiver cet utilisateur ?'|trans }}")) {
            $('#btn' + id).html("<div class='ajax-loader'></div>");
            $.ajax({
                type: "POST",
                url: "{{path('security_user_disable')}}",
                data: "usr=" + id,
                success: function(data) {
                    if (data['ok'] != '') {
                        $('#btn' + id).attr('class', 'btn btn-shadow btn-td btn-normal btn-green');
                        $('#btn' + id).attr('onclick', 'userenable(' + id + ')');
                        $('#btn' + id).html("<i class='fa fa-lock-open'></i> {{'Activer'|trans}}");
                    }
                },
                error: function() {
                    alert("{{ 'La requête n a pas abouti'|trans}}");
                }
            });
        }

    }

    function userenable(id) {
        if (confirm("{{ 'Voulez-vous vraiment activer cet utilisateur ?'|trans }}")) {
            $('#btn' + id).html("<div class='ajax-loader'></div>");
            $.ajax({
                type: "POST",
                url: "{{path('security_user_enable')}}",
                data: "usr=" + id,
                success: function(data) {
                    if (data['ok'] != '') {
                        $('#btn' + id).attr('class', 'btn btn-shadow btn-td btn-normal btn-danger');
                        $('#btn' + id).attr('onclick', 'userdisable(' + id + ')');
                        $('#btn' + id).html("<i class='fa fa-user-lock'></i> {{'Désactiver'|trans}}");
                    }
                },
                error: function() {
                    alert("{{ 'La requête n a pas abouti'|trans}}");
                }
            });
        }

    }

</script>
{% endblock %}
{% endblock %}
